{% extends 'base.html' %}
{% load static %}
{% load i18n %}



{% block content %}

<h1>{{ article.title }}</h1>

<p><b>{% trans "Authors" %}:</b> {{ article.authors }}</p>

<p><b>{% trans "Publication Year" %}:</b> {{ article.py }}</p>
<p><b>{% trans "Journal" %}:</b> {{ article.source }}</p>
<p><b>{% trans "Volume/Issue" %}:</b> {{ article.volume }}({{ article.issue }})</p>

<p><b>{% trans "Keywords" %}:</b>
  {% for keyword in article.keywords.all %}
      {{ keyword }},    <!-- looks ugly but here is a comma -->
  {% endfor %}
</p>

<p><b>DOI /URL: </b><a href="https://doi.org/{{ article.doi }}" >{{ article.doi }}</a></p>


<p><b>{% trans "Abstract" %}:</b> {{ article.abstract }}</p>


{% endblock content %}
