{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load workpackages_extras %}
{% block content %}
    <center>
        <div class="search-list">
            <h1 class="search-list"> {% trans "Search publications on citizen science" %}</h1>
            <p><i>{% trans "For example: bird" %}</i></p>
            <form action="search" method="get">
                <!-- SEARCH MODES -->
                <input type="radio" id="general" name="searchmode" value="general" checked="checked">
                <label for="searchmode">{% trans "General search" %}</label>
                <input type="radio" id="author" name="searchmode" value="author">
                <label for="searchmode">{% trans "Author search" %}</label>
                <input type="radio" id="keyword" name="searchmode" value="keyword">
                <label for="searchmode">{% trans "Keyword search" %}</label>
                <br>
                <!-- SEARCH BOX -->
                <input name="q" type="text" placeholder="{% trans "Search publications..." %}">
                <input type="submit" value="{% trans "Submit" %}">
                <!-- SORT MODES -->
                <br>
                <input type="radio" id="year" name="sortmethod" value="year" checked="checked">
                <label for="sortmethod">{% trans "Sort by year" %}</label>
                <input type="radio" id="title" name="sortmethod" value="title">
                <label for="title">{% trans "Sort by title" %}</label>
                <input type="radio" id="author" name="sortmethod" value="author">
                <label for="author">{% trans "Sort by author" %}</label>

            </form>
        </div>
    </center>

    <!-- Display initial results
    {% for article in object_list %}
    <div class="search-list">
      <p><a href="{{ article.get_absolute_url }}">{{ article.title }}</a> {{ article.py }} {{ article.authors }} </p>
      <p>{{ article.source }} Volume: {{ article.volume }} Issue: {{ article.issue }} <a href="https://doi.org/
        {{ article.doi }}">Fulltext</a></p>
    </div>
    {% endfor %}
-->
    </div>
{% endblock content %}
