{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load workpackages_extra %}


{% block content %}

<div class="search-list">
<h1 class="search-list"> {% trans "Search our resources" %}</h1>


<form action="search" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>


{% for article in object_list %}
<div class="search-list>
<h2 class="search-list"><a href="{% url 'publications:article_publications_detail' article.pk %}"">{{ article.py }}. {{ article.title }}</a></h2>

</div>
{% endfor %}
</div>


<h3>{{ "Ethics"|get_wp_name }}</h3>

<p>
{{ "Ethics"|get_wp_intro }}
</p>

<p>
{{ "Ethics"|get_wp_detailed_content }}
</p>


{% for theme in "Ethics"|get_wp_themes %}
<p><b>{{ theme.title}}</b></p>
<p>{{ theme.body }}</p>
{% endfor %}

{% endblock content %}
