{% extends 'base.html' %}
{% load static %}
{% load i18n %}



{% block content %}

<h1>{{ article.title }}</h1>

<p><b>Author(s):</b> {{ article.authors }}</p>

<p><b>Publication Year:</b> {{ article.py }}</p>

<p><b>Keywords:</b>
  {% for keyword in article.keywords.all %}
      {{ keyword }},    <!-- looks ugly but here is a comma -->
  {% endfor %}
</p>

<p><b>Abstract:</b> {{ article.abstract }}</p>

<p><b>Doi /URL: </b><a href="https://doi.org/{{ article.doi }}" >{{ article.doi }}</a></p>

{% endblock content %}
