#Directory: Arcs
#File: ArcsSystem.config
#Codename: KunskapSkelett
#Version: 0.1
#Developers: Jonathan Brier | Christopher Kullenberg
#Developers email: jonathan.brier@gu.se | christopher.kullenberg@gu.se
#Description: Set the values that will configure ArcsSystem. You can set the varilables here or be guided by the install script.
# The instal script will look for values where the value is not "default" or "1" and prompt for a value where required from install.sh.

########## BEGIN Required Config parameters ##########
##### HOST DOMAIN ##### # Note: current assumption is a single domain for the site
### Set the domain which will host your site
## Set the naked domain for production Example: medborgarforskning.example
## Automaticaly generates the required subdomains for hosting. If top level domain, sets redirect from www to naked domain.
## Default: - no value - will --throw an error and prompt for domain---
## DOMAIN =

## Default URL pattern: https://medborgarforskning.example - and redirect from https://wwww.medborgarforskning.example
PROD_DOMAIN = default

## Default Staging URL pattern: https://staging.medborgarforskning.example
STAGING_DOMAIN = default

## Default testing URL pattern: https://medborgarforskning.example
TESTING_DOMAIN = default

## Default Dev URL pattern: https://medborgarforskning.example
DEV_DOMAIN = default

#### Set the admin email for the SSL Certifcates and other
## Default: admin@PRODDOMAIN
ADMINEMAIL = default

#### Set database parameters ####
## Default Database in Docker is: PostGresSql # TODO add module to make PostGis for shapefile calculations
# default is a generated value for POSTGRES_DB # TODO add default value generation
# default is a generated value for POSTGRES_USER=postgres # TODO add default value generation
# default is a generated value for POSTGRES_PASSWORD=docker # TODO add default value generation

POSTGRES_DB = default
POSTGRES_USER = default
POSTGRES_PASSWORD = default

#### Set the domain used for emails from the platform ####
## Default is the root doamin
EMAILDOMAIN = default


########## END Required Config parameters ##########


#### USE LetsEncrypt Certifcates for https -
## LetsEncrypt is configured to use server verification with ACME protocl v1 with files located at domain root .well-known
## Set 1 for true (Default)
## Set 2 for false and disable LetsEncrypt. Note: you will need to manually add certificate in the certificate folder following the naming scheme before launching the containers for nginx to boot.

LETSENCRYPT = 1

#### Certifcates Path #### # TODO add custom path variables
## Default: uses LetsEncrypt configured domain path in server Builds
## Format: Path/to/certificate
CUSTOMCERTPATH = default


#### TODO FUTURE FEATURES OUTLINE ####
