{% load static %}
{% load i18n %}
{% load staticpages_tree %}
{% block main_menu %}

<nav class="w-full bg-color-primary">
    <div class="py-4 px-8 justify-center flex flex-row items-center">
        <a href="/project" class="pl-8 text-black">
            UTFORSKA
        </a>
        <a href="#" class="pl-8 text-black">
            STARTA PROJEKT
        </a>
        <a href="#" class="pl-8 text-black">
            VAD ÄR MEDBORGARFORSKNING?
        </a>
        <a href="#" class="pl-8 text-black">
            SÖK
        </a>
        <a class="pl-16"  href= {% url 'staticpages:homepage_view' %}>
            <img class="w-40" src="{% static 'icons/medborgarforskning-C-1000px_1.png' %}"
                 alt="{% trans 'Medborgarforskning.se Logo linking to the site homepage' %}"/>
        </a>
    </div>
</nav>  
<script>
    $( "#form-search-nev" ).submit(function( event ) {
      var form_value = $('#search_query').val();
      if (form_value == ""){
          event.preventDefault();
          return;
      }
      var action = $('#form-search-nev').attr('action');
      action = action.replace('SEARCH_QUERY', form_value);
      $('#form-search-nev').attr('action', action);
    });
</script>

{% endblock main_menu %}
