{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">

            <h1>{% trans "Blog home page (list view)" %}</h1>

            {% for instance in object_list %}
                <p>{{ instance.id }} -  <a href='{{ instance.get_absolute_url }}'> {{ instance.title }}, {{ instance.publishedDate }}</a><p>
            {% endfor %}
            <h1>
            {% trans "Blog detail view" %}
            </h1>

            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">{% trans "last" %} &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
