{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container-fluid">
    <div class="custom-container">
        <div class="row">
            <div class="col">
                {% for instance in case_studies %}
                    {% for block in instance.case_studies_body %}
                        {% if block.block_type == 'title' %}
                            {{ block.value }}
                        {% endif %}
                        {% if block.block_type == 'content' %}
                            {{ block.value }}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{# this tag will insert a comment in the HMTL, but won't be rendered #}
{# terms-cookies-privacy page #}

{% endblock content %}
