{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container-fluid">
    <div class="custom-container">
        <div class="row">
            <div class="col">
                {% for instance in case_studies %}
                    <p>{{ instance.title }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{# this tag will insert a comment in the HMTL, but won't be rendered #}
{# terms-cookies-privacy page #}

{% endblock content %}
