
{% extends 'base.html' %}
{% load i18n %}

{% block content %}

{% load publications_extras %}



{# this tag will insert a comment in the HMTL, but won't be rendered #}

{% autoescape off %} <!-- This makes Summernote possible -->

<div class="container">
    <div class="row">
        <div class="col-9">
            <div class="row">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'blog:blog_list_view' %}"> Home </a></li>
                    <li class="breadcrumb-item"><a href="{% url 'staticpages:staticpage_list' %}">Resources</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> {{object.title}} </li>
                  </ol>
                </nav>
        	</div>
            <div class="row text-justify text-style">
                <div class="col">
                    <h2 font-weight-bold text-header-style > {{ object.title }}</h2>
                    <p > Publication Date: {{object.published}}</p>
                    <img class="img-fluid" src="{% static "devplaceholder/knowledge-1052014_1920.jpg" %}" />
                    <br>
                    <p> {{ object.content }} </p>
                </div>

            </div>
        </div>
        <div class="col-3">
            <div class="row visual-Mindmap-style">
                <div class="col">
                    <h4 class="text-header-visual-mindmap"> Explore Visual - Mindmap </h4>
                    <img class="img-fluid" src="{% static "devplaceholder/book-520626_1920.jpg" %}" />
                </div>
            </div>
            <div class="row visual-Mindmap-style">
                <div class="col">
                    <h2 class="text-header-style"> {% trans "Related literature" %}</h2>

                    {% for q in "ethics"|query_publications %}
                    <p><a href="{% url 'publications:article_publications_detail' q.id %}">{{q}}</a></p>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>



{% endautoescape %}
{% endblock content %}
