{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

{% load publications_extras %}



{# this tag will insert a comment in the HMTL, but won't be rendered #}

{% autoescape off %} <!-- This makes Summernote possible -->

<div class="container">
    <div class="row">
        <div class="col-9">
            <div class="row">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'blog:blog_list_view' %}"> Home </a></li>
                    <li class="breadcrumb-item"><a href="{% url 'staticpages:staticpage_list' %}">Resources</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> {{object.title}} </li>
                  </ol>
                </nav>
        	</div>
            <div class="row text-justify text-style">
                <div class="col">
                    <h2 font-weight-bold text-header-style > {{ object.title }}</h2>
                    <p > Publication Date: {{object.published}}</p>
                    <img class="img-fluid" src="{% static "devplaceholder/library-863148_1920.jpg" %}" alt="{% trans '' %}"/>
                    <br>
                    <p> {{ object.content }} </p>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <div class="accordion">
                      <div class="accordion__item">
                        <div class="accordion__item__header" >
                         Theme 1
                        </div>

                        <div class="accordion__item__content">
                          <p> Explain of your item goes here...</p>
                		 </div>
                      </div>
                	        <div class="accordion__item">
                        <div class="accordion__item__header">
                         Theme 2
                        </div>

                        <div class="accordion__item__content">
                          <p> Explain of your item goes here...</p>
                		 </div>
                      </div>
                	        <div class="accordion__item">
                        <div class="accordion__item__header">
                         Theme 3
                        </div>

                        <div class="accordion__item__content">
                          <p> Explain of your item goes here...</p>
                		 </div>
                      </div>
                    </div> <!-- id accordion end -->
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row visual-Mindmap-style">
                <div class="col">
                    <h4 class="text-header-visual-mindmap"> Explore Visual - Mindmap </h4>
                    <img class="img-fluid" src="{% static "devplaceholder/open-book-1428428_1920.jpg" %}" alt="{% trans '' %}"/>
                </div>
            </div>
            <div class="row visual-Mindmap-style">
                <div class="col">
                    <h2 class="text-header-style"> {% trans "Related literature" %}</h2>

                    {% for q in "ethics"|query_publications %}
                    <p><a href="{% url 'publications:article_publications_detail' q.id %}">{{q}}</a></p>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>



{% endautoescape %}
{% endblock content %}

{% block extra_head %}
<script src="{% static 'scripts/accordion.js' %}" type="text/javascript"></script>
    <!-- Accordion CSS -->
<link rel="stylesheet" href="{% static 'css/accordion_style.css' %}">

{% endblock extra_head %}
