{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container-fluid">
    <div class="custom-container">
        <div class="row">
            <div class="col">
                {% for instance in termpage %}
                    <h1>{{ instance.terms_title}}</h1>
                    <h1>{{ instance.terms_content|richtext }}</h1>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{# this tag will insert a comment in the HMTL, but won't be rendered #}
{# terms-cookies-privacy page #}

{# TODO for terms page - list or link to page with list of integrated software - Django, Nginx, Docker, Check-included-DjangoApps&liscenses, Coverage.py etx #}

{% endblock content %}
