@font-face {
  font-family: 'Playfair Display';
  src: url(https://fonts.googleapis.com/css?family=Playfair+Display&display=swap);
  font-display: swap;
}

@font-face {
  font-family: Lato;
  src: url(https://fonts.googleapis.com/css?family=Lato&display=swap);
  font-display: swap;
}

body{
    background-color: #C3D3D0 !important;
    font-family: Lato !important;
    font-size: 14 !important;
}

h1 {
  font-family: 'Playfair Display';
  color: #000000;
  font-size: 26px;
  font-weight:bold;
}

h2 {
  font-family: 'Playfair Display';
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

h3 {
  font-family: 'Playfair Display';
  color: #000000;
}

p{
    font-family: Lato !important;
    font-size: 14px !important;
}

.background-blue-color{
    background-color: #174255;
}

.background-dark-green-color{
    background-color: #255C61 !important;
}

.background-light-green-color, .change-language-item:hover{
    background-color: #C3D3D0 !important;
}

.background-greenish-color{
    background-color: #9FB0A0;
}

.black-font-color{
    color: #000000;
}

.font-white-color{
    color: #fff !important;
}

.font-dark-green-color{
    color: #255C61 !important;
}

.font-light-green-color{
    color: C3D3D0 !important;
}

.font-greenish-color{
    color: #9FB0A0;
}

.Helvetica-font{
font-family: Helvetica;
}

.custom-container{
    width: 84% !important;
    margin: 0 auto;
    padding: 0;
}


#main-header{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    padding: 0;
}

.main-media-icons{
    width: 30px;
}

.main-media-btns{
    width: 30px;
}

.social-media-padding{
    padding-right: 27px;

}

#header-btn{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

#main-header-buttons{
    margin-right: 0;
    padding-right: 0;
}


#login, a:hover, a::after{
    color: #255C61;
    text-decoration: none;
    white-space: nowrap;
}

.hide-extend-language-icon::after{
        display: none;
}

.flag-svg-align{
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.language-selected-color{
    background-color: #174255;
    font-family: Lato;
    color: #FFFFFF;
}

.language-selected-color svg path{
    fill: #fff;
}

.language-selected-color:hover{
    background-color: #174255 !important;
    color: #fff;
}

.main-menu-buttons-font{
    font-size: 16;
    font-weight: bold;
    color: #fff !important;
    overflow-wrap: break-word;
    word-break: break-word;
    text-align:center
}

.main-menu-buttons a:hover{
    background-color: #C3D3D0;
}

.header-main-menu{
    display: block;
    padding: 0;
}

.header-main-menu .dropdown-divider {
    border-color: #000;
    border-width: medium;
}

.header-main-menu .dropdown-menu ul{
    list-style: none;
    padding-left: 0px;
}

.header-main-menu .dropdown-menu ul li:before{
  content: "-";
  padding-right: 5px;
  position: absolute;
  color:  #000000;
}

.header-main-menu .dropdown-menu ul li{
    margin-left: 40px;
}

.header-menu-li-style{
    width: 27%;

}

#form-search-nev{
    float: right;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.form-group.has-search{
  margin-bottom: 0;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    padding: 10px;
}

.footer-menu-nav{
    margin-left: 0;
    margin-right: 0;
    margin-top: 25px;
    margin-bottom: 10px;
}

.footer-navbar{
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.footer-navbar-padding {
    padding-right: 2.5rem;
}

.main-footer-participiate {
  padding-left: 0;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-patner-logo {
  width: 120px;
}

.policy-footer-font, .policy-footer-font a{
    font-family: Lato;
    font-size: 12px;
}

.policy-footer-font a{
    color: #255C61;
}

.policy-footer-menu{
    padding-top: 8px;
    padding-bottom: 8px;
}

.cc-by-footer {
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid;
}

#cc-by{
    height: 30px;
}

#content{
    padding-top: 50px;
}

#main-page-slider{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
    background-color: #c3d3d0;
}

.slider-color{
    background-color: rgba(195, 211, 208, 0.6) !important;
}

.light-green-style{
    background-color: #d2e1df;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
}

.carousel-multi-item-selector{
    padding: 0px;
    border: 1px solid;
    border-color: #9FB0A0;
    border-radius: 4px 4px 4px 4px;
}


.border-slider-content{
    border: 0 !important;
}

.content-slider{
    padding-top: 20px;
    background-color: #c3d3d0;
}

.slider-top-controler{
    float: right;
    background-color: #c3d3d0;
}

.next-icon-slider{
    width: 20px;
    height: 20px;
}

#icon-preview-rotate{
    transform: rotate(180deg);
}

.icon-flipped {
    color: #000;
    height: 10px;
    width: 10px;
}

.slider-header{
    padding: 10px;
}

.slider-selector{
    color: #c3d3d0 !important;
    background-color: #000 !important;
}

.carousel-indicators li {
    height: 10px;
    width: 10px;
    border-radius: 50% !important;
  }

.carousel-item-margin{
    margin-bottom: 20px;
}

.main-page-box{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid;
    border-radius: 2px 2px 2px 2px;
    border-color: #9fb0a0;
}

.items-box{
    border: 1px solid;
    border-color: #9FB0A0;
    border-radius: 3px 3px 3px 3px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
}

.home-page-buttons{
    font-family: Helvetica !important;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    border-radius: 3px 3px 3px 3px;
}

.visual-Mindmap-style{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
    background-color: #FFFFFF;
    padding: 15px;
}

.breadcrumb{
    background-color: #C3D3D0;
    color: #255C61;
    font-family: Lato;
    font-size: 14px;
}

.breadcrumb, a{
    color: #255C61;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">>";
}


.text-header-visual-mindmap{
    font-family: Playfair;
    font-size: 18px;
}

.projects-filter-buttons, .projects-filter-buttons:hover{
    background-color: #255C61;
    color: #ffffff ;
    font-family: Lato;
}

.project-item-details{
    font-family: Lato ;
    font-size: 14px;
    margin-left: 20px;
}

#project-items-link{
    color: #000000;
}

.project-items-justify{
    font-family: Lato ;
    font-size: 20px;
    padding-top: 5px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;

}

/*isak add here 
*/
.blackFieldWhiteText{
    background: black;

}

.blackFieldWhiteText>*{
    color: white;

}

/*isak add ends here*/


}

.login-form{
    padding-top: 40px;
    padding-bottom: 40px;
}

.login-btn{
    padding: 10px;
    background-color: #e6e6e6;
    font-family: Helvetica;
    display: block;
    margin: 0 auto;
}

.login-form-style{
    font-family: Helvetica;
    font-size: 14px;
}

.socialaccount_providers_btn:hover{
    color: #000;
}

.password-reset-form{
    font-family: Helvetica;
}

#password-reset-btn{
    margin: 0 auto;
    display: block;
    background-color: #e6e6e6;
    margin-bottom: 10px;
}

.search-list{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.projects-filter-buttons{
    background-color: #255C61;
    color: #ffffff ;
    font-family: Lato;
}

.project-item{
    height: 100%;
    border: 2px solid;
    border-color: black;

    margin-bottom: 5px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.project-pageination{
    background-color: #9FB0A0 !important;
    color: #255C61 !important;
    font-family: Lato;
}

.page-item.active .page-link{
    color: #ffffff !important;
    background-color: #255C61 !important;
}

.project-keywords-btn{
    margin-bottom: 10px;
}

.projects-keywords-buttons-font{
    font-family: Playfair Display;
}

.socialaccount_providers_btn{
    background-color: #fff !important;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Helvetica;
}


.detail-view{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}
