@font-face {
  font-family: 'Playfair Display';
  src: url(https://fonts.googleapis.com/css?family=Playfair+Display&display=swap);
  font-display: swap;
}

@font-face {
  font-family: Lato;
  src: url(https://fonts.googleapis.com/css?family=Lato&display=swap);
  font-display: swap;
}



h1 {
  font-family: 'Playfair Display';
  color: #000000;

}

h2 {
  font-family: 'Playfair Display';
  color: #000000;
}

h3 {
  font-family: 'Playfair Display';
  color: #000000;
}

p {
  font-family: Lato;
  font-style: normal;
  color: #000000;
}

p.italic {
  font-family: Lato;
  font-style: italic;
  color: #000000;
}

p.bold {
  font-family: Lato;
  font-style: bold;
  color: #000000;
}

body {
  background-color: #C3D3D0 !important;
}

#header-main-logo {
  margin: 30px;
}

.header-icons {
  width: 25px;
}

.header-main-menu {
  background-color: #255C61;
  padding-left: 60px !important;
  padding-right: 60px !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.main-menu-buttons-font {
  font-family: Lato;
  font-style: bold;
  color: #FFFFFF;
}

.change-language-item:hover{
    background-color: #C3D3D0 ;
}

.language-selected-color{
    background-color: #174255;
    font-family: Lato;
    color: #FFFFFF;
}

.header-main-menu-body{
    background-color: #C3D3D0 ;
}

.header-main-menu a:hover{
    color:  #FFFFFF;
}


.main-menu-buttons {
  font-family: Lato;
  font-style: bold;
  color: #FFFFFF;
}

.header-main-menu .dropdown-divider {
    border-color: #000000;
    border-width: medium;
}

.header-main-menu .dropdown-menu ul{
    list-style: none;
    padding-left: 0px;
}

.header-main-menu .dropdown-menu ul li:before{
  content: "-";
  padding-right: 5px;
  position: absolute;
  color:  #000000;
}

.header-main-menu .dropdown-menu ul li{
    margin-left: 40px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.form-group.has-search{
  margin-bottom: 0;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    padding: 10px;
}

.container-footer {
   border-top: 1px solid;
}

.container-footer-menu {
  margin-top: 15px;
  margin-bottom: 15px;
}

.main-footer-participiate {
  background-color: #255C61;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-patner-logo {
  width: 120px;
}

.footer-menu-font>li>a{
  font-family: Lato;
  font-style: bold !important;
  color: #255C61;
}

.policy-footer-font, .policy-footer-font a{
    font-family: Lato;
    font-size: 12px;
}

.policy-footer-font a{
    color: #255C61;
}

.policy-footer-menu{
    padding-top: 8px;
    padding-bottom: 8px;
}

.cc-by-footer {
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid;
}

.text-header-style {
    font-weight: : bold !important;
    font-family: Playfair;
    font-size: 25px;
}

.text-style{
    font-family: Playfair;
    font-size: 15px;
}

.greenish-brown-color{
    background-color: #9FB0A0;
}

.greenish-brown-color-bottom-sytyle{
    background-color: #9FB0A0;
    font-family: Lato;
    font-weight: bold;
    font-size: 12px;
}

.green-brown-color-bottom-sytyle{
    background-color: #255C61;
    font-family: Lato;
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
}

.light-green-style{
    background-color: #d2e1df;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
}

.visual-Mindmap-style{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
    background-color: #FFFFFF;
    padding: 15px;

}

.text-header-visual-mindmap{
    font-family: Playfair;
    font-size: 18px;
}

.project-menu-filter{
    padding-top: 50px;
    padding-bottom: 50px;

}

.project-filter-menu-font{
    font-family: Playfair Display;
    font-size: 24px;
}

.project-item-details{
    font-family: Lato ;
    font-size: 14px;
}

#project-items-link{
    color: #000000;
}

.project-items-justify{
    padding-top: 10px;
}

.login-form{
    padding-top: 40px;
    padding-bottom: 40px;
}

.search-list{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.projects-filter-buttons{
    background-color: #255C61;
    color: #ffffff ;
    font-family: Lato;
}

.project-item{
    border: 1px solid;
    border-color: green;
    margin-left: 20px;
    margin-bottom: 40px;
    border-radius: 3px 3px 3px 3px;
}

.project-pageination{
    background-color: #9FB0A0 !important;
    color: #255C61 !important;
    font-family: Lato;
}

.page-item.active .page-link{
    color: #ffffff !important;
    background-color: #255C61 !important;
}

h1.search-list{
  margin: 10px;
}

.post-entry{
  margin-top: 5px;
  margin-bottom: 5px;
}

.Lato-font{
    font-family: Lato;
}

.Helvetica-font{
font-family: Helvetica
}

.green-blue-color{
    background-color: #255C61;
}

.project-keywords-btn{
    margin-bottom: 10px;
}

.projects-keywords-buttons-font{
    font-family: Playfair Display;
}

.detail-view{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}
h1.detail-view{
  margin-top: 25px;
  margin-bottom: 25px;
}
h2.detail-view{
  margin-top: 25px;
  margin-bottom: 25px;
}
h3.detail-view{
  margin-top: 25px;
  margin-bottom: 25px;
}
