{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load projects_extras %}
{% block content %}
{% load keyword_extras %}

<div class="container-fluid">
    <div class="custom-container">

        <form method="GET"  action="{% url 'projects:project_list_filter' %}" >

        <div class="row">
                {% for one_item in None|line_is_project %}
                    <div class="col-lg-2 col-md-3 col-xs-12 mb-5 col-6">
                        <span style="font-size: 12px" align="center" >{% trans "English Keywords" %}</span>
                        <select id="kw_eng" name="kw_eng" class="custom-select form-control">
                            <option value="all" > {% trans "All" %} </option>
                            {% for line in one_item %}
                                {% if line.eng %}
                                    <option  value="{{ line.eng.id }}">
                                        {{ line.eng.keyword }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-lg-2 col-md-3 col-xs-12 mb-5 col-6">
                        <span style="font-size: 12px" >{% trans "Swedish Keywords" %}</span>
                        <select id="kw_swe" name="kw_swe" class="custom-select form-control">
                            <option value="all" > {% trans "All" %} </option>
                            {% for line in one_item %}
                                {% if line.swe %}
                                    <option  value="{{ line.swe.id }}">
                                        {{ line.swe.keyword }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}


            <div class="col-lg-2 col-md-3 col-xs-12 mb-5 col-6">
                <span style="font-size: 12px" >{%trans "Science type" %}</span>

                <select id="science_type" name="science_type" class="custom-select form-control">
                    <option value="all" > {% trans "All" %} </option>
                    {% for sci_typ in None|get_science_types %}

                        <option  value="{{ sci_typ.id }}">
                           {% trans sci_typ.ScienceType %}
                        </option>
                    {% endfor %}
                </select>
            </div>


            <div class="col-lg-2 col-md-3 col-xs-12 mb-5 col-6">
                <span style="font-size: 12px">{%trans "Status" %}</span>
                <select id="status" name="status" class="custom-select form-control">
                    <option value="all" > {% trans "All" %} </option>
                    {% for status in None|get_all_status %}
                        <option  value="{{ status.0 }}">
                            {% trans status.1 %}
                        </option>
                    {% endfor %}
                </select>
            </div>




            <div class="col-lg-2 col-md-3 col-xs-12 mb-5 col-6">
                <span style="font-size: 12px">{%trans "Sort by" %}</span>

                <select id="sort" name="sort" class="custom-select form-control">

                    <option  value="name"> {% trans "Alphabetical" %}, {% trans  "ascending" %} </option>
                    <option  value="-name"> {% trans "Alphabetical" %}, {% trans "descending" %} </option>
                    <option  value="date_created"> {% trans "Date added" %}, {% trans "ascending" %} </option>
                    <option  value="-date_created"> {% trans "Date added" %}, {% trans "descending" %} </option>

                </select>
            </div>


            <div class="col-lg-2 col-md-3 col-xs-12 mb-5 col-6">

                <br>


                <button name="update" value="1" class="form-control"> Update</button>

            </div>


          </div>

          </form>



<!--           ---------- -->






<div class="col-12" style="height: 20px" ></div>
<div class="row">


{% for ProjectEntry in object_list %}


<div class="col-lg-3 col-sm-6 col-12 mb-5">
    <div class="card h-100 shadow border-0">
        <a class="card-img-wrap " href="{% url 'projects:project_detail' ProjectEntry.id %}">



            {% if ProjectEntry.image %}

                    <img style="height: 160px; "
                    class="card-img-top img-fluid img-zoom ls-is-cached lazyloaded" src="{{ProjectEntry.image}}">


                {% else %}

                <div class="col">
                    <img style="height: 160px" class="card-img-top img-fluid img-zoom ls-is-cached lazyloaded"
                    src="/media/images/sami-takarautio-UZOpP-YHe9Q-unsplash.width-400.jpg" />
                </div>

                {% endif %}

            </a>

        <div class="card-body shadow" title='{% trans "Short description" %}'>
            <h6 class="card-title">
                <a class="card-link" href="{% url 'projects:project_detail' ProjectEntry.id %}">
                {{ ProjectEntry.get_card_name }}</a>
            </h6>
                <p class="card-text" >{{ProjectEntry.get_card_description}}</p>
        </div>

        <div class="card-body shadow" title='{% trans "Short aim" %}'>
                <p class="card-text" > {% trans "Aim" %}: {{ProjectEntry.get_card_aim}}</p>

        <div style="overflow:hidden" >




                {% for line in ProjectEntry.keyword_lines.all  %}
                  {{ line|get_keyword:"en"|safe }}
                {% endfor %}


              {{ProjectEntry.keywords}}

              {% for keyword in ProjectEntry.keyword_lines.all %}
                   {{ keyword }}
                  {{ keyword.get_custom_html|safe }} <span style="width: 5px"></span>    <!-- looks ugly but here is a comma -->
              {% endfor %}

              {% with ProjectEntry.keywords|split:"&" as projects %}
                  {% for project in projects %}
                      {{ project }} <br>

                  {% endfor %}
              {% endwith %}

        </div>
            </div><!-- End of card-body -->
        </div><!-- end of card -->
    </div>

        {% endfor %}









</div>
</div>

{% for option in selcted %}

<script type="text/javascript">
    $('#{{option.0}} option[value={{option.1}}]').attr('selected', 'selected');
</script>

{% endfor %}




{% endblock content %}
