{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load projects_extras %}
{% block content %}
{% load keyword_extras %}







<div>
    <div class="">

        <form method="GET"  action="{% url 'projects:project_list_filter' %}" >

        <div class="flex flex-col md:flex-row border-t-2 border-b-2 border-color-accent px-4 py-4 mb-4 w-full md:items-center md:justify-around justify-center">
                {% for one_item in None|line_is_project %}
                    <div class="project-filter">
                        <span class="text-xl md:text-3xl playfair-font font-extrabold" >Visa</span>
                        <select id="kw_eng" name="kw_eng" class="custom-dropdown ml-4">
                            <option value="all" > {% trans "All" %} </option>
                            {% for line in one_item %}
                                {% if line.eng %}
                                    <option  value="{{ line.eng.id }}">
                                        {{ line.eng.keyword }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}


            <div class="project-filter">
                <span class="text-xl md:text-3xl playfair-font font-extrabold" >projekt i</span>

                <select id="science_type" name="science_type" class="custom-dropdown ml-4">
                    <option value="all" > {% trans "All" %} </option>
                    {% for sci_typ in None|get_science_types %}

                        <option  value="{{ sci_typ.id }}">
                           {% trans sci_typ.ScienceType %} 
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="project-filter">
                <p class="text-xl md:text-3xl playfair-font font-extrabold">sorterat efter</p>

                <select id="sort" name="sort" class="custom-dropdown ml-4">

                    <option  value="name"> {% trans "Alphabetical" %}, {% trans  "ascending" %} </option>
                    <option  value="-name"> {% trans "Alphabetical" %}, {% trans "descending" %} </option>                    
                    <option  value="date_created"> {% trans "Date added" %}, {% trans "ascending" %} </option>
                    <option  value="-date_created"> {% trans "Date added" %}, {% trans "descending" %} </option>

                </select>
            </div>
          </div>
          </form>
<!--           ---------- -->

<div class="grid-cols-3 px-8 project-cards">


{% for ProjectEntry in object_list %}


<div class="col-lg-3 col-sm-6 col-12 mb-5 border-2 border-color-accent">
    <div class="h-100  border-0 mt-4">
        <a class="card-img-wrap mt-4" href="{% url 'projects:project_detail' ProjectEntry.id %}">



            {% if ProjectEntry.image %}

                    <img style="height: 250px; " 
                    class="card-img-top img-fluid img-zoom ls-is-cached lazyloaded object-cover" src="{{ProjectEntry.image.url}}">


                {% else %}

                <div class="col">
                    <img style="height: 250px" class="card-img-top img-fluid img-zoom ls-is-cached lazyloaded" 
                    src="/media/images/sami-takarautio-UZOpP-YHe9Q-unsplash.width-400.jpg" />
                </div>

                {% endif %}
            
            </a>
                
        <div class="card-body" title='{% trans "Short description" %}'>
            <h6 class="card-title playfair-font text-2xl font-bold ">
                {{ ProjectEntry.get_card_name }}
            </h6>
                <div class="flex items-end">
                
                    <p class="text-md" >{{ProjectEntry.get_card_description}}</p>
                    <a class="text-xs lato-font pl-2 font-bold" style="color:#173F53" href="{% url 'projects:project_detail' ProjectEntry.id %}">LÄS MER</a>
                </div>
        </div>

        <div class="card-body playfair-font text-uppercase" title='{% trans "Short aim" %}'>
                <p class=""> {% trans "Aim" %}: {{ProjectEntry.get_card_aim}}</p>
        
        <div style="overflow:hidden" >

                {% for line in ProjectEntry.keyword_lines.all  %}
                {{ line|get_keyword:LANGUAGE_CODE|safe }}
                {% endfor %}
        </div>
            </div><!-- End of card-body -->
        </div><!-- end of card -->
    </div>

        {% endfor %}









</div>
</div>

{% for option in selcted %}

<script type="text/javascript">
    $('#{{option.0}} option[value={{option.1}}]').attr('selected', 'selected');
</script>

{% endfor %}

{% endblock content %}
