{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load keyword_extras %}
{% load projects_extras %}



{% block content %}


{% if edit %}
<h5 style="font-weight: 100" >This is your project </h5>


<a style="font-size: 24px" class="form-control btn-success col-2 " href="edit/" >edit</a>
{% endif %}

<div class="w-full">
    <div class="flex flex-col md:flex-row justify-around px-4">
        <div class="right" >
            <h1 class="playfair-font text-xl md:text-4xl font-bold">{{ object.name }} ({{object.country}})</h1>

            {% if object.image %}


            <img class="project-detail-image mt-4" src="{{object.image}}" alt="{% trans 'Responsive image' %}" />



            {% else %}

                <div class="center" align="center" style="height: 30px; width: calc(50%);  background: coral">
                    <h5 align="center"  > No image</h5>
                </div>





            {% endif %}

            <div class="flex flex-col my-4 text-xl">
                <p class="font-bold text-xl">{{object.get_card_aim|safe}}</p>
                <p class="text-lg pt-2">{{object.get_card_description}}</p>
            </div>
        </div>
        <div class="left green-bg-color flex flex-col p-4" style="width:300px">

          <iframe width="250" height="150" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=
          {% for geovalue in object.country|get_country_bbox %}
          {{ geovalue.0|unlocalize }}
          %2C
          {{ geovalue.1|unlocalize }}
          %2C
          {{ geovalue.2|unlocalize }}
          %2C
          {{ geovalue.3|unlocalize }}
          {% endfor %}
          &amp;layer=mapnik&amp;marker={{object.latitude|unlocalize}}%2C{{object.longitude|unlocalize}}" style="border: 1px solid black"></iframe>
          <br/><small><a href="https://www.openstreetmap.org/?mlat=52.1572&amp;mlon=4.3997#map=12/52.1572/4.3997">{% trans "Show bigger map" %}</a></small>




            <p class="text-md">Namn: </p>
            <p class="text-md playfair-font font-bold pb-2">{{object.name}}</p>
            <p class="">Hemsida: </p>
            <p class="playfair-font font-bold pb-2"><a href="{{object.url}}">{{object.url}}</a></p>
            <p class="">Status: </p>
            <p class="playfair-font font-bold pb-2">{{object.get_status_name}}</p>
            <p class="">Ämnen: </p>
            <p class="">
            {% for line in object.keyword_lines.all  %}
              {{ line|get_keyword:LANGUAGE_CODE|safe }}
            {% endfor %}
            </p>


            <p class="">Projektansvarig: </p>
            <p class="playfair-font font-bold pb-2">{{object.responsible_party_name}}</p>
            <!--<p class="">Slutdatum: </p>
            <p class="playfair-font font-bold pb-2">{{object.end_date}}</p>-->
            <!--<p class="">Kontaktperson: </p>
            <p class="playfair-font font-bold pb-2">{{object.contact_name}}, <a href="mailto:{{object.contact_email}}">{{object.contact_email}}</a></p>
            <p class="">Målgrupp: </p>
            <p class="playfair-font font-bold pb-2">{{object.target_audience}}</p>-->
            <p class="">Geografisk plats: </p>
            <p class="playfair-font font-bold pb-2">{{object.latitude}}, {{object.longitude}}</p>
            <!--<p class="">Slutdatum: </p>
            <p class="playfair-font font-bold pb-2">{{object.end_date}}</p>-->


        </div>

    </div>


    <!--   <picture class="detail-view">
        {# TODO implement additional web image format handling #}
        <source srcset="name.webp" type="image/webp" alt="{#TODO alt text#}">{#Webp image support first#}
            <source srcset="name.jpg" type="image/jpg" alt="{#TODO alt text#}">{#jpg support next#}
                <img src="{{ object.image_dir }}"  alt="{% blocktrans %}Bild för projektet {{ object.name }}{% endblocktrans %}" width="300" height="300"/>
            </picture> -->


<!--

            <div class="custom-container">

                <ul class="nav nav-tabs">

                    <li class="nav-item">
                        <a class="nav-link active " data-toggle="tab" href="#step1">{% trans "Details" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " data-toggle="tab" href="#step_aim">{% trans "Aim" %} <span class="glyphicon glyphicon-align-left" ></span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " data-toggle="tab" href="#step_description">{% trans "Description" %}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " data-toggle="tab" href="#step3">{% trans "Keywords" %}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#step5">{% trans "Contact info" %} </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#step_map">{% trans "Location" %}</a>
                    </li>

                </ul>


                <div class="tab-content">
                    <br>
                    <div id="step1" class="tab-pane container active">
                        <br>

                        <h5>{% trans "Target audience" %}:  {{ object.target_audience}}</h5>

                        <br>


                        <h5>{% trans "Project status" %}: {{ object.get_status_name}}</h5>


                        <br>

                        <h5>{% trans "Science type" %}:  {{ object.science_type}}</</h5>

                    </div>

                    <div class="tab-pane container fade" id="step_aim">
                        <p>{{ object.aim|safe }}</p>
                    </div>

                    <div class="tab-pane container fade" id="step_description">
                        {{ object.description|safe }}
                    </div>

                    <div id="step3" class="tab-pane fade">

                        <h3>{% trans "Project keywords" %} </h3>


                        {% for line in object.keyword_lines.all %}

                        {{line|get_keyword:LANGUAGE_CODE |safe }}
                        <br>

                        {% endfor %}
                        <br>
                        <br>

-->
                        {% if object.keyword_lines.all %}

                        <!--<h3> {% trans "Keyword connections" %} </h3>-->

                        {% for one_list in object|get_all_related:LANGUAGE_CODE %}
                        {{ one_list.0|safe }}
                        <script>
                            var data = JSON.parse('{{ one_list.1| escapejs }}');
                            </script>
                      {% endfor %}

                      {% else %}

                      {% trans "This project has no keywords. Relations are created through keywords. Therefore no relations can be created" %}

                      {% endif %}




<!--
    <h4>{% trans "Name" %}: {{ object.contact_name }}</h4>
    <h4>{% trans "Contact's role" %}: {{ object.contact_role }}</h4>
    <h4>{% trans "Affiliation" %}: {{ object.contact_affiliation }}</h4>
    <br>

    {% if  object.url %}
    <h4><a href=" {{ object.url }}"> {% trans "External link to project"%}</a> </h4>
    (link addres:  {{ object.url }})
    <br>

    {% endif %}


    <br>
    send email to user
    <textarea class="form-control"> </textarea>


</div> -->

{% if object.keyword_lines.all %}


</div>
</div>
</div>




</div>
<style type="text/css">

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
</style>





<style>
    svg text {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .links line {
        stroke: white;
    }
    .nodes circle {
        stroke: #fff;
        stroke-width: 1.5px;
    }
    text {
        font-family: sans-serif;
        font-weight: lighter;
        fill: black;
    }
</style>
<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript">
    // Isaks add functions
    // calc font size
    function calc_font_size(d) {
        return Math.sqrt(d.value) + 16
    };
</script>
<script>
    function strength(link) {
        return 0.1 / Math.min(count(link.source), count(link.target));
    }
    var svg = d3.select("#rel_graph"),
        width = +svg.attr("width"),
        height = +svg.attr("height");
    var color = d3.scaleOrdinal(d3.schemeCategory20);
    //.distance(function(d) { return Math.sqrt(d.value) * 2 + 300; })
    var simulation = d3.forceSimulation()
        .force("link", d3.forceLink().id(function (d) {
            return d.id;
        }).distance(function (d) {
            return 60;
        }))
        //Math.sqrt(d.value) * 2 + 200;
        .force("charge", d3.forceManyBody().strength(function (d) {
            return -80;
        }))
        // -(d.value**2  + 400)
        .force("center", d3.forceCenter(width / 2, height / 2));
        //.force("x",d3.forceX(width/2).strength(0.4))
        //.force("y",d3.forceY(height/2).strength(0.6))
    var link = svg.append("g")
        .attr("class", "links")
        .selectAll("line")
        .data(data.links)
        .enter().append("line")
        .attr("stroke-width", function (d) {
            return Math.sqrt(d.value / 5);
        });
    link.attr('opacity', function (d) {
        return d.value / 30 + 0.4;
    });

    var node = svg.append("g")
        .attr("class", "nodes")
        .selectAll("g")
        .data(data.nodes)
        .enter().append("g")
    var circles = node.append("circle")
        .attr("r", function (d) {
            if (d.value) {
                return d.value
            }
            ;
            return 5;
        })

        .attr("id", function (d) {
            return d.id;
        })
        .attr("fill", function (d) {
            if (d.group == 0) return "green";
            if (d.group == 1) return "red";
            return "blue";
        })
        .call(d3.drag()
            .on("start", dragstarted)
            .on("drag", dragged)
            .on("end", dragended));

    var lables = node.append("text")
        .text(function (d) {
            return d.id;
        })

        .attr('x', function (d) {
            return -d.id.length * calc_font_size(d) / 4;
        })
        .attr('y', function (d) {
            return -d.value - calc_font_size(d) / 2;
        })
        .attr('font-size', function (d) {
            return calc_font_size(d);
        });

    node.append("title")
        .text(function (d) {
            return d.id;
        });

    simulation
        .nodes(data.nodes)
        .on("tick", ticked);

    simulation.force("link")
        .links(data.links);

    function ticked() {
        link
            .attr("x1", function (d) {
                return d.source.x;
            })
            .attr("y1", function (d) {
                return d.source.y;
            })
            .attr("x2", function (d) {
                return d.target.x;
            })
            .attr("y2", function (d) {
                return d.target.y;
            });


        node
            .attr("transform", function (d) {
                return "translate(" + d.x + "," + d.y + ")";
            })
    }
    function dragstarted(d) {
        if (!d3.event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
        var info_box = $("#rel_graph").find("text#info_text_svg");
        info_box.find("#name").text(d.id);
        info_box.find("#value").text(d.value);
        info_box.find("#link").attr("href", "/keywords/" + d.id)
    }
    function dragged(d) {
        d.fx = d3.event.x;
        d.fy = d3.event.y;
    }
    function dragended(d) {
        if (!d3.event.active) simulation.alphaTarget(0);
        d.fx = null;
        d.fy = null;
    }
</script>


{% endif %}

{% endblock content %}
