{% extends 'base.html' %}

{% block content %}

<form action="/submitproject/" method="post">
  <fieldset>
    <legend>Basic Project Fields:</legend>
    <label for="project_submitname">Enter Project name: </label> <!-- TODO replace with django template for  -->
    <input id="project_submitname" type="text" name="name_field" value="Default name for a project."> <!-- TODO replace with django template for  -->

    <label for="project_submiturl">Enter project landingpage URL: </label> <!-- TODO replace with django template for  -->
    <input id="project_submiturl" type="text" name="projecturl_field" value="Official URL of the project."> <!-- TODO replace with django template for  -->



    <button type="submit" value="Submit">Submit Project to ARCS</button> <!-- TODO replace with django template for  -->
  </fieldset>
</form>

{% endblock content %}



<form accept-charset="UTF-8" action="action_page.php" autocomplete="off" method="GET" target="_blank">
  <fieldset>
    <legend>Title:</legend>
    <label for="name">Name</label> <br />
      <input name="name" type="text" value="Frank" /> <br />
      <input checked="checked" name="sex" type="radio" value="male" /> Male <br />
      <input name="sex" type="radio" value="female" /> Female <br />
        <textarea cols="30" rows="2">Long text.</textarea><br />
        <select>
          <option selected="selected" value="1">Yes</option>
          <option value="2">No</option>
        </select><br />
      <input name="democheckbox" type="checkbox" value="1" /> Checkbox<br />
      <button type="submit" value="Submit">Submit</button>
  </fieldset>
</form>
