<!DOCTYPE html>
<html lang="sv">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Medborgarforskning.se</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Raleway|Roboto">
  <!-- Custom styles for this template -->
  <link href="/static/css/landing-page.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light /static-top">
    <div class="container">
      
      <a href="/"><img class="img-fluid" width="200" src="/static/img/logga.png" alt=""></a>
      <a class="navbar-brand" href="/">Utforska</a>
      <a class="navbar-brand" href="/startaprojekt">Starta projekt</a>
      <a class="navbar-brand" href="/medborgarforskning">Vad är medborgarforskning?</a>                
      <form action = "/search" method = "POST" id="searchform">
		 <input type="text" class="form-control form-control-lg" placeholder="Sök projekt..." name="searchstring">
      </form>
      
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          
		<h2 class="mb-5">
		
			<form action = "/result" method = "POST" id="myform">
  				
				
				<div class="row">
	  	
						Visa
    				<div class="col-auto">
      					<select class="form-control-lg" id="research_area" name="typeofproject" onchange="this.form.submit();">
					        
						<!-- gets the default value from Flask -->
                                        	<option value="{{selection}}" selected="selected">{{selection}}</option>
						
						<option value="alla medborgarforsknings">alla medborgarforsknings</option>
						<option value="skol">skol</option>
						<option value="biologi">biologi</option>
						<option value="astronomi">astronomi</option>
						<option value="samhällsvetenskap">samhällsvetenskap</option>
						<option value="geografi">geografi</option>
						<option value="fysik">fysik</option>
						<option value="historia">historia</option>

					</select>
    				</div>
					projekt i 
    
   				 <div class="col-auto">
      					<select class="form-control-lg" id="location_area" name="locationofproject" onchange="this.form.submit();">
                                                
						<!-- gets the default value from Flask -->
						<option value="{{selectionloc}}" selected="selected">{{selectionloc}}</option>

						<option>hela Sverige</option>
						<option>inomhus</option>
						<option>utomhus</option>
						<option>skolprojekt</option>
						<option>södra Sverige</option>
						<option>norra Sverige</option>
						<option>östra Sverige</option>
						<option>västra Sverige</option>
						<option>digitalt</option>
						<option>analogt</option>
						<option>vid vatten</option>
				

					</select>
    				</div>
   			

				</form>

  				</div>
		</h2>






        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
             
		      <!-- <p>Jag vill...</p>-->
	      
	      </div>
              <div class="col-12 col-md-3">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

<div class="container">
<div class="row justify-content-md-center">

  <p>
   Medborgarforskning handlar om att forskare och allmänheten hjälps åt för att ta fram ny kunskap. På medborgarforskning.se kan alla som vill lära sig mer om medborgarforskning (citizen science), söka bland projekt att delta i och bidra till portalen med egna kunskaper och erfarenheter.
  </p>

  <p>
  Du som är forskare kan: hitta information om medborgarforskning som metod, få tips och inspiration till att starta egna projekt, utbyta erfarenheter och knyta kontakter med andra forskare och frivilliga.
  </p>

  <p>
Du som inte är forskare kan: göra precis samma saker som forskarna. Medborgarforskning är för alla.
  </p>
 
  </div>
</div>

  <!-- result grid -->

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">


	      {% for key, value in result.items() %}


        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">

		<img src="static/img/{{value[1]}}" class="img-fluid" alt="Responsive image">
            

			<div class="card-body">
		    <p class="card-text-lg"><b>{{key}}</b></p>
                    <p class="card-text">{{value[3]}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
			<button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{value[2]}}">Hemsida</a></button>
			<!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                </div>
		<small class="text-muted">{{value[0]}} {{value[4]}}</small>

              </div>
            </div>
          </div>
        </div>

            {% endfor %}


         </div>
     </div>
  </div> 
  <!-- /result grid -->





	   
 
   <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Om ARCS</h4>
          <div class="card-body">
            <p class="card-text">
                    <a href="/om_arcs">Bakgrund</a><br>
                    <a href="#">Kontakt</a><br>
                    <a href="#">Press</a><br>

            </p>	    
          </div>
          <!-- <div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
	  </div> -->
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Vetenskaplig litteratur</h4>
          <div class="card-body">
            <p class="card-text">
	             
                    <a href="/litteratur">Om medborgarforskning</a><br>
	    
	    </p> 
          </div>
          <!-- <div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
	  </div> -->
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">För forskare</h4>
          <div class="card-body">
            <p class="card-text">
              <a href="#">Standardisering och datakvalitet</a><br>
              <a href="#">Teknikimplementering</a><br>
              <a href="#">Etik</a><br>
              <a href="#">Kommunikation</a></br>
 
	    </p>  
          </div>
         <!-- <div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
	 </div>-->
        </div>
      </div>
    </div>
<!-- /.row -->
	    
<style>
.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}
</style>


          <p class="text-muted small mb-4 mb-lg-0"><span class="copyleft">&copy;</span> Medborgarforskning.se</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
