<!DOCTYPE html>
<html lang="sv">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Medborgarforskning.se</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/static/css/landing-page.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light /static-top">
    <div class="container">
      <a class="navbar-brand" href="/">Utforska!</a>
      <a class="navbar-brand" href="/startaprojekt">Starta projekt!</a>
      <a class="navbar-brand" href="/medborgarforskning">Vad är medborgarforskning?</a>
      <!-- Ändra width för att ändra loggans storlek -->
                 <img class="img-fluid" width="200" src="/static/img/logga.png" alt="">
                
		 
		 <form action = "/search" method = "POST" id="searchform">
		 <input type="text" class="form-control form-control-lg" placeholder="Sök efter projekt..." name="searchstring">
		 </form>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          
		<h2 class="mb-5">
		
			<form action = "/result" method = "POST" id="myform">
  				
				
				<div class="row">
	  	
					Visa 

    				<div class="col-auto">
      					<select class="form-control-lg" id="research_area" name="typeofproject" onchange="this.form.submit();">
					        
						<!-- gets the default value from Flask -->
                                        	<option value="{{selection}}" selected="selected">{{selection}}</option>
						
						<option value="alla medborgarforsknings">alla medborgarforsknings</option>
						<option value="skol">skol</option>
						<option value="biologi">biologi</option>
						<option value="astronomi">astronomi</option>
						<option value="samhällsvetenskap">samhällsvetenskap</option>
						<option value="geografi">geografi</option>
						<option value="fysik">fysik</option>
						<option value="historia">historia</option>

					</select>
    				</div>
					projekt i 
    
   				 <div class="col-auto">
      					<select class="form-control-lg" id="location_area" name="locationofproject" onchange="this.form.submit();">
                                                
						<!-- gets the default value from Flask -->
						<option value="{{selectionloc}}" selected="selected">{{selectionloc}}</option>

						<option>hela Sverige</option>
						<option>inomhus</option>
						<option>utomhus</option>
						<option>skolprojekt</option>
						<option>södra Sverige</option>
						<option>norra Sverige</option>
						<option>östra Sverige</option>
						<option>västra Sverige</option>
						<option>digitalt</option>
						<option>analogt</option>
						<option>vid vatten</option>
				

					</select>
    				</div>
   				!	
				<!--
				sorterat efter  

                                 <div class="col-auto">
                                        <select class="form-control" id="location_area" name="order">
                                                <option>antal deltagare</option>
                                                <option>nyast startat</option>
                                

                                        </select>
                                </div>
				-->	



				</form>

				<!--
		
    
    				sorterat efter
    
    				<div class="col-auto">
      					<select class="form-control" placeholder="Popularitet">
    						<option>popularitet</option>
						<option>antal deltagare</option>
						<option>nyligen tillagda</option>

					</select>
				
				</div> -->

  				</div>
		</h2>






        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
             
		      <!-- <p>Jag vill...</p>-->
	      
	      </div>
              <div class="col-12 col-md-3">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>


  <!-- result grid -->

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">


	      {% for key, value in result.items() %}


        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">

		<img src="static/img/{{value[1]}}" class="img-fluid" alt="Responsive image">

            <!--svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title></title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Bild</text></svg-->
            <div class="card-body">
		    <p class="card-text">{{key}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
		<small class="text-muted">{{value[0]}}</small>
              </div>
            </div>
          </div>
        </div>

            {% endfor %}


         </div>
     </div>
  </div> 
  <!-- /result grid -->





  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
		    <b><a href="#">Om portalen</a></b><br>
		    <a href="#">Bakgrund</a><br>
		    <a href="#">Kontakt</a><br>
		    <a href="#">Press</a><br>
		    <a href="#">&zwnj;</a><br>
		    <a href="#">&zwnj;</a>
            </li>
            <li class="list-inline-item">
		    <b><a href="#">Vetenskaplig litteratur</a></b><br>
		    <a href="#">Om medborgarforskning</a><br>
		    <a href="#">Om datakvalitet</a><br>
		    <a href="#">Om teknikimplementering</a><br>
		    <a href="#">Om etik</a><br>
		    <a href="#">Om kommunikation</a>
            </li>
            <li class="list-inline-item">
		    <b><a href="#">För forskare</a></b><br>
	      <a href="#">Standardisering och datakvalitet</a><br>
	      <a href="#">Teknikimplementering</a><br>
	      <a href="#">Etik</a><br>
	      <a href="#">Kommunikation</a></br>
	      <a href="#">&zwnj;</a>

            </li>

	    
	    
<style>
.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}
</style>


          <p class="text-muted small mb-4 mb-lg-0"><span class="copyleft">&copy;</span> Medborgarforskning.se</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
