<!DOCTYPE html>
<html lang="sv">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Medborgarforskning.se</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/static/css/landing-page.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light /static-top">
    <div class="container">
      
      <a href="/"><img class="img-fluid" width="200" src="/static/img/logga.png" alt=""></a>
      <a class="navbar-brand" href="/">Utforska</a>
      <a class="navbar-brand" href="/startaprojekt">Starta projekt</a>
      <a class="navbar-brand" href="/medborgarforskning">Vad är medborgarforskning?</a>                
      <form action = "/search" method = "POST" id="searchform">
		 <input type="text" class="form-control form-control-lg" placeholder="Sök projekt..." name="searchstring">
      </form>
      
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">

                <h2 class="mb-5">
                Litteratur om medborgarforskning 
                </h2>

		      <form action = "/litteratur" method = "POST" id="searchliterature">
                 <input type="text" class="form-control form-control-lg" placeholder="Sök litteratur..." name="searchliterature">

			<div class="form-check form-check-inline">
  				<input type="radio" id="ticker"  name="Year" value="Y" checked>
				<label class="form-check-label" for="Year">Sortera på årtal</label>
			</div>

			<div class="form-check form-check-inline">
  				<input type="radio" id="ticker" name="Author" value="A">
  				<label class="form-check-label" for="Author">Sortera på författare</label>
			</div>

		       </form>
        </div>
      </div>
    </div>
    </div>
  </header>

 <div style="overflow-x:auto;">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Författare</th>
      <th scope="col">Årtal</th>
      <th scope="col">Titel</th>
      <th scope="col">Källa</th>
      <th scope="col">Nyckelord</th>



    </tr>
  </thead>
  <tbody>


{% for row in results %}


    <tr>
      <td>{{row[2]}}</td>
      <td>{{row[3]}}</td>
      <td>{{row[1]}}</td>
      <td>{{row[4]}} {{row[5]}}({{row[6]}})<br> <a href="https://doi.org/{{row[7]}}"><b>{{row[7]}}</b></a></td>
      <td>{{row[9]}}</td>
{% endfor %}

  </tbody>
</table>
 </div>



<!--
<p>
<script src="https://bibbase.org/show?bib=https%3A%2F%2Fapi.zotero.org%2Fgroups%2F2090013%2Fitems%3Fkey%3DNtJiWsJzyZhYtWXlUkGdfrnp%26format%3Dbibtex%26limit%3D100&jsonp=1"></script> 
</p>
-->


  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
		    <a href="/om-arcs">Om ARCS</a><br>
		    <a href="#">Bakgrund</a><br>
		    <a href="#">Kontakt</a><br>
		    <a href="#">Press</a><br>
		    <a href="#">&zwnj;</a><br>
		    <a href="#">&zwnj;</a>
            </li>
            <li class="list-inline-item">
		    <b><a href="/litteratur">Vetenskaplig litteratur</a></b><br>
		    <a href="#">Om medborgarforskning</a><br>
		    <a href="#">Om datakvalitet</a><br>
		    <a href="#">Om teknikimplementering</a><br>
		    <a href="#">Om etik</a><br>
		    <a href="#">Om kommunikation</a>
            </li>
            <li class="list-inline-item">
		    <b><a href="#">För forskare</a></b><br>
	      <a href="#">Standardisering och datakvalitet</a><br>
	      <a href="#">Teknikimplementering</a><br>
	      <a href="#">Etik</a><br>
	      <a href="#">Kommunikation</a></br>
	      <a href="#">&zwnj;</a>

            </li>

	    
	    
<style>
.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}
</style>


          <p class="text-muted small mb-4 mb-lg-0"><span class="copyleft">&copy;</span> Medborgarforskning.se</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
 <!--  
  These two lines will conflict with Bibbase script.  
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
-->
</body>

</html>
