<!DOCTYPE html>
<html lang="sv">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Medborgarforskning.se</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/static/css/landing-page.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light /static-top">
    <div class="container">
      <a href="/"><img class="img-fluid" width="200" src="/static/img/logga.png" alt=""></a>
      <a class="navbar-brand" href="/">Utforska</a>
      <a class="navbar-brand" href="/startaprojekt">Starta projekt</a>
      <a class="navbar-brand" href="/medborgarforskning">Vad är medborgarforskning?</a>
                
		 
		 <form action = "/search" method = "POST" id="searchform">
		 <input type="text" class="form-control form-control-lg" placeholder="Sök efter projekt..." name="searchstring">
		 </form>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          
		<h2 class="mb-5">
	Vad är medborgarforskning?	
		</h2>

	</div>
      </div>
    </div>
    </div>
  </header>



 <p class="frontpagetext">
På senare år har det blivit allt vanligare att forskare och “vanligt folk” hjälps åt att undersöka olika frågor. Detta kallas för medborgarforskning (citizen science). Samarbetet leder inte bara till vetenskapliga framsteg, det ger även deltagarna möjlighet att engagera sig i frågor som intresserar dem, och skapar dialog mellan universitet och allmänheten.
 <p>


 <p class="frontpagetext">
 I korthet går medborgarforskning ut på att forskare och frivilliga ”medborgare” tillsammans tar fram ny kunskap. Oftast är det forskare som tar hjälp av allmänheten för att samla in eller granska stora mängder data. Som deltagare kan man till exempel rapportera in observationer av växter, transkribera gamla handskrifter eller granska bilder på djur och natur. Ett av de mest välkända projekten är Galaxy Zoo där frivilliga hjälper astronomer att klassificera bilder av galaxer. Men medborgarforskning kan också vara initiativ från medborgare som använder vetenskapliga metoder för att göra sina röster hörda. Ett exempel är Louisiana Bucket Brigade i USA, där medborgare mäter luftkvalitet kring oljeindustrins anläggningar, och använder resultaten för att påverka beslutsfattare. I Sverige finns nu Luftdata.se som vill bygga och sprida billiga instrument för att mäta partikelhalter i luften. Här kan du läsa en intervju med Hannes Ebner, grundaren av Luftdata.se[b].
 </p>

 <p class="frontpagetext">
Hittills har områden som biologi och miljöforskning varit mest aktiva när det gäller medborgarforskning, men det pågår en snabb utveckling även inom humaniora (t.ex. historia och litteraturvetenskap) och medicin. Den engelska termen för medborgarforskning är citizen science. Medborgarforskning inom samhällsvetenskaper och humaniora benämns ibland citizen social science respektive citizen humanities.
 </p>





  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('static/img/tree.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>En nygammal revolution</h2>
          <p>Att forskare och frivilliga hjälps åt med forskning är i sig inte något nytt – redan på 1750-talet startade Carl von Linné världens första nätverk för att rapportera lövsprickning. Det som har gjort att medborgarforskning på senare år blivit ett globalt fenomen är digitaliseringen och internet. Via datorer och mobiltelefoner kan nu vem som helst hjälpa forskare att bland annat mäta luftkvalitet, klassificera galaxer, räkna pingviner eller elefanter, transkribera brev från första världskriget, eller spela spel som samtidigt bidrar till vetenskapliga framsteg. Aldrig tidigare har det varit möjligt att engagera så många människor i forskning.
	  </p>
	  <p>
Men medborgarforskning leder inte enbart till framsteg för forskningen, det påverkar till exempel även deltagarnas kunskaper, deras förtroende för vetenskap, och skapar en direkt relation mellan universitet och allmänheten.
	  </p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('static/img/butterfly.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Medborgarforskning i Sverige</h2>
      
	  <p>
	  Sverige har en lång tradition av samarbeten mellan forskare och frivilliga. Vi vet att svenska forskare åtminstone sedan 1850-talet har fått hjälp med observationer och klassificering av bland annat väder, fåglar och astronomiska fenomen. Ett modernt exempel är Artportalen hos Sveriges lantbruksuniversitet (SLU), som är en av de största portalerna för medborgarforskning i världen. Här kan du läsa en intervju med Artportalens koordinator Stephen Coulson, där han berättar mer om portalen. 
	  </p>
         
          <p>
Sedan 2009 koordinerar den ideella organisationen Vetenskap &amp; Allmänhet årligen ett medborgarforskningsprojekt för Sveriges skolor – ForskarFredags Massexperiment. I massexperimenten har tiotusentals elever hjälpt forskare att ta fram ny kunskap inom en mängd olika områden. Här berättar Christopher Kullenberg vid Göteborgs universitet om 2016 års massexperiment, där elever hjälpte forskare kartlägga innehållet på analoga anslagstavlor runtom i Sverige. 
          </p>
	



	</div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('static/img/mountain.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Möjligheter och utmaningar</h2>
             <p>
Medborgarforskning erbjuder stora möjligheter för allmänheten att delta i och själva starta forskningsprojekt istället för att bara informeras om färdiga forskningsresultat. När relationen fungerar som bäst skapar medborgarforskning samverkan och innovationer som berikar forskningen och stimulerar dialog mellan medborgarna och universiteten.

Utmaningar med medborgarforskning för framtiden är till exempel: Hur kan forskarna veta att medborgarnas bidrag går att lita på? Hur ska ny teknik användas? På vilka sätt värnar man etiska frågor, och hur fördelas roller och rättigheter mellan forskare och frivilliga?

            </p>
    


    </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Vad är medborgarforskning för dig?</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="/static/img/testimonials-1.jpg" alt="">
            <h5>Lisa Svensson</h5>
            <p class="font-weight-light mb-0">"Jag är biolog. Medborgare har hjälpt mig samla in massor av fågelobservationer"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="/static/img/testimonials-2.jpg" alt="">
            <h5>Olle Svensson</h5>
            <p class="font-weight-light mb-0">"Jag började mäta luften i mitt kvarter. Jag är medborgarforskare."</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="/static/img/testimonials-3.jpg" alt="">
            <h5>Stina Svensson</h5>
            <p class="font-weight-light mb-0">"Jag är lärare i årskurs 5. Vi gjorde medborgarforskning som skolprojekt."</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to get started? Sign up now!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
		    <b><a href="/om_arcs">Om ARCS</a><br>
		    <a href="#">Bakgrund</a><br>
		    <a href="#">Kontakt</a><br>
		    <a href="#">Press</a><br>
		    <a href="#">&zwnj;</a><br>
		    <a href="#">&zwnj;</a>
            </li>
            <li class="list-inline-item">
		    <b><a href="#">Vetenskaplig litteratur</a></b><br>
		    <a href="#">Om medborgarforskning</a><br>
		    <a href="#">Om datakvalitet</a><br>
		    <a href="#">Om teknikimplementering</a><br>
		    <a href="#">Om etik</a><br>
		    <a href="#">Om kommunikation</a>
            </li>
            <li class="list-inline-item">
		    <b><a href="#">För forskare</a></b><br>
	      <a href="#">Standardisering och datakvalitet</a><br>
	      <a href="#">Teknikimplementering</a><br>
	      <a href="#">Etik</a><br>
	      <a href="#">Kommunikation</a></br>
	      <a href="#">&zwnj;</a>

            </li>
      <!--
	    <li class="list-inline-item">
		    <b><a href="#">Användarvillkor</a></b><br>
		    <a href="#">Datapolicy</a><br>
		    <a href="#">Cookies</a><br>
		    <a href="#">Licenser</a><br>
		    <a href="#">.</a><br>
		    <a href="#">.</a>

            </li>
      -->
	    </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
