<!DOCTYPE html>
<html lang="sv">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Medborgarforskning.se</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Raleway|Roboto">

  <!-- Custom styles for this template -->
  <link href="/static/css/landing-page.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light /static-top">
    <div class="container">
      
      <a href="/"><img class="img-fluid" width="200" src="/static/img/logga.png" alt=""></a>
      <a class="navbar-brand" href="/">Utforska</a>
      <a class="navbar-brand" href="/startaprojekt">Starta projekt</a>
      <a class="navbar-brand" href="/medborgarforskning">Vad är medborgarforskning?</a>                
      <form action = "/search" method = "POST" id="searchform">
		 <input type="text" class="form-control form-control-lg" placeholder="Sök projekt..." name="searchstring">
      </form>
      
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">

                <h2 class="mb-5">
                Om ARCS               
                </h2>

        </div>
      </div>
    </div>
    </div>
  </header>

  <p class="frontpagetext">
Medborgarforskning.se är ett treårigt samarbete mellan Göteborgs universitet, Sveriges lantbruksuniversitet (SLU), Umeå universitet och den ideella föreningen Vetenskap & Allmänhet (VA). Syftet är att hjälpa svenska universitet och högskolor att använda medborgarforskning på ett ansvarsfullt och hållbart sätt för att samverka med samhället. Målet är att portalen ska bli en naturlig knutpunkt och resurs för alla som är intresserade av medborgarforskning. 
  </p>

<p class="frontpagetext">
I utvecklingen av portalen har deltagarna sedan 2018 kartlagt pågående och historiska svenska medborgarforskningprojekt, undersökt svenska forskares syn på medborgarforskning, och sammanställt vetenskaplig kunskap kring datakvalitet, tekniska hjälpmedel, etik och kommunikation i medborgarforskningsprojekt.
</p>

<p class="frontpagetext">
Samarbetsprojektet går under namnet ARCS (Arenas for Cooperation through Citizen Science). 
Den svenska titeln för projektet är Arenor för samverkan via medborgarforskning. Projektet finansieras av Vinnova, Göteborgs universitet, Sveriges lantbruksuniversitet och Umeå universitet.
</p>

<p class="frontpagetext">
Projektledare är Dick Kasperowski, docent i vetenskapsteori vid Göteborgs universitet. 
</p>



  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
		    <a href="/om-arcs">Om ARCS</a><br>
		    <a href="#">Bakgrund</a><br>
		    <a href="#">Kontakt</a><br>
		    <a href="#">Press</a><br>
		    <a href="#">&zwnj;</a><br>
		    <a href="#">&zwnj;</a>
            </li>
            <li class="list-inline-item">
		    <b><a href="/litteratur">Vetenskaplig litteratur</a></b><br>
		    <a href="#">Om medborgarforskning</a><br>
		    <a href="#">Om datakvalitet</a><br>
		    <a href="#">Om teknikimplementering</a><br>
		    <a href="#">Om etik</a><br>
		    <a href="#">Om kommunikation</a>
            </li>
            <li class="list-inline-item">
		    <b><a href="#">För forskare</a></b><br>
	      <a href="#">Standardisering och datakvalitet</a><br>
	      <a href="#">Teknikimplementering</a><br>
	      <a href="#">Etik</a><br>
	      <a href="#">Kommunikation</a></br>
	      <a href="#">&zwnj;</a>

            </li>

	    
	    
<style>
.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}
</style>


          <p class="text-muted small mb-4 mb-lg-0"><span class="copyleft">&copy;</span> Medborgarforskning.se</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
